{% extends "game/base.html" %}
{% load i18n %}
{% block title %}{% translate "Change password" %} · Rythmomachie{% endblock %}
{% block content %}
<form class="card auth-form" method="post" action="{% url 'game:password_change' %}">
  <h1>{% translate "Change password" %}</h1>
  {% include "game/account/_form.html" %}
  <button type="submit" class="primary">{% translate "Change password" %}</button>
  <p class="help"><a href="{% url 'game:account' %}">{% translate "Back to my account" %}</a></p>
</form>
{% endblock %}
